@page "OrderConfirmation"
@*@model PizzaTime.Pages.Checkout.OrderConfirmationModel*@
@model PizzaTime.Pages.Checkout.CheckoutModel

@{
}

<h2>Order Confirmation</h2>

<div>
    <p>Order Name: @Model.PizzaName</p>
    <p><strong>Order Total: $@Model.PizzaPrice</strong></p>
    <p>Pizza will be ready in approximately <strong>3 hours 45 minutes!</strong> Thank you for your patience.</p>
</div>