@page
@model PizzaModel
@{
    ViewData["Title"] = "Home page";
}
<main class="mx-5">

    <section class="text-center">
        <h1 class="display-4">Select Custom Pizza, or choose from one of our House favorites.</h1>
    </section>
    
    <section>
        <div>
            <img class="create-pizza-img" src="images/Pizzas/Create.png"/>
            <div>
                <h4>Create your own Pizza</h4>
                <a asp-page="/Forms/CustomPizza" class="btn btn-primary">Build a Pizza</a>
            </div>
        </div>
    </section>
    
    <section class="col-4 mb-5">
        @foreach (var pizza in Model.pizzaDb)
        {
            var photoPath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");

            <div class="col-4 mb-5">
                <a 
                    asp-page="Checkout/Checkout" 
                    asp-route-PizzaName="@pizza.PizzaName" 
                    asp-route-ImageTitle="@pizza.ImageTitle"
                    asp-route-PizzaPrice="@pizza.FinalPrice">
                    <img src="@photoPath" asp-append-version="true" class="w-100" alt=""/>
                </a>
            </div>
        }
    </section>

</main>
